
@use "../../../assets/variables" as *;
.button {
    cursor: pointer;
    border-radius: $border-radius;
    border: $border;
    color: $tertiary-color;
    background-color: $primary-color;
    font-size: $font-size-small;
    padding: 10px 30px;

    &:hover {
        color: $tertiary-color;
        background-color: $primary-shade;
    }
}

.alignCenter {
    align-self: center;
}