
@use "../../assets/variables" as *;
.button {
    cursor: pointer;
    border-radius: $border-radius;
    border: $border;
    color: $tertiary-color;
    background-color: $primary-color;

    &:hover {
        color: $tertiary-color;
        background-color: $primary-shade;
    }
}

.small {
    font-size: $font-size-small;
    padding: 10px 30px;
}
.large {
    font-size: $font-size-large;
    padding: 0 40px;
}