.button {
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid
}
.contained {
    border-color: blue;
    color: blue;
    background-color: white;

    &:hover {
        border-color: white;
        color: white;
        background-color: blue;
    }
}
.outlined { 
    border-color: white;
    color: white;
    background-color: blue;
    
    &:hover {
        border-color: blue;
        color: blue;
        background-color: white;
    }
}
.small {
    font-size: 12px;
    padding: 0 10px;
}
.large {
    font-size: 15px;
    padding: 0 15px;
}