@use "../../../assets/variables" as *;

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .title {
        font-size: $font-size-small;
        padding-bottom: 8px;
    }
    .inputContainer {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;

        .input {
            border: $border;
            border-radius: $border-radius;
            border-color: $secondary-color;
            box-sizing: border-box;
            padding: 8px 12px;
            line-height: 1;
            height: 40px;
            width: 100%;
        
            &:focus {
                outline: none;
                border: $border-focus;
                border-color: $primary-color;
                &::placeholder {
                    color: transparent;
                }
            }
            &::placeholder {
                opacity: 0.7;
                color: $secondary-color;
                font-style: italic;
                font-size: $font-size-small;
            }
        }
        .eyeIcon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: none;
            cursor: pointer;
            font-size: 20px;
            color: $primary-color;
        }
    }
    
}


