@use "../../../assets/variables" as *;
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .title {
        font-size: $font-size-small;
        padding-bottom: 8px;
    }
    .textarea {
        border: $border;
        border-radius: $border-radius;
        border-color: $secondary-color;
        box-sizing: border-box;
        font-size: $font-size-small;
        resize: vertical;
        padding: 8px 12px;
    
        &:focus {
            outline: none;
            border: $border-focus;
            border-color: $primary-color;

            &::placeholder {
                color: transparent;
            }
        }
        &::placeholder {
            opacity: 0.7;
            color: $secondary-color;
            font-style: italic;
            font-size: $font-size-small;
        }
    }
}