.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border: 5px solid pink;

    .logoWrapper {
        display: flex;
        max-width: 80px;

        .logo {
            width: 100%;
        }
    }
    .loginWrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .userName {
            font-size: 15px;
        }
        .button {

        }
    }
  }