@use "../../assets/variables" as *;
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    border: $border;
    border-color: $primary-color;
    border-radius: $border-radius;

    .logoWrapper {
        display: flex;
        max-width: 90px;

        .logo {
            width: 100%;
        }
    }
    .loginWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        .userName {
            font-size: $font-size-small;
        }
    }
  }