@use "../../assets/variables" as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    border: $border;
    border-color: $primary-color;
    border-radius: $border-radius;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        .searchBar {
            display: flex;
            flex-direction: row;
            gap: 25px;
            width: 50%;
        }
    }
}