$font-size-small: 18px;
$font-size-medium: 18px;
$font-size-large: 20px;

$border: 1px solid;
$border-focus: 2px, solid;
$border-radius: 5px;

$primary-color: #F28C28;
$primary-shade: #f4a352;
$secondary-color: #3b3b3b;
$tertiary-color: #FFFFFF;